<h1> Here you can manage your teams! </h1>
<div>
  <h4>Create a new pokemon team</h4>
  Team Name<input type="text" #teamName />
  <button (click)="CreateTeam(teamName.value)"></button>
</div>
<div>
  <h4>Find your Pokemon teams by username</h4>
  <button (click)="GetTeams()">Get Teams</button>
</div>
<br><br>
<table>
<tr>
  <th>Pokemon ID</th>
  <th>Pokemon Name</th>
  <th>Team ID</th>
</tr>
<tr *ngFor="let pokemon of pokemons">
  <td>{{pokemon.pokeName}}</td>
  <td>{{pokemon.pokeNumber}}</td>
  <td>{{team.teamID}}</td>
</tr>
</table>