<body>
<h1> Here you can manage your teams! </h1>
<div>
  <h3>Create a new pokemon team</h3>
  Team Name <input type="text" #teamName />
  <button (click)="CreateTeam(teamName.value)">Create Team</button>
</div>
<br>

<h3>Change the names of your teams by their IDs</h3>
<div class="container">
  Team ID <select [(ngModel)]="selectedTeam1"><option *ngFor="let _team of _teams" value="{{_team.teamID}}">{{_team.teamName}}</option></select>
  New Team Name <input #newTeamName ><br>
  <button (click)="UpdateTeam(selectedTeam1, newTeamName.value)">Update Team</button>
</div>
<br>
<h3>Add Pokemon by their names to your teams</h3>
<div class="container">
    Team ID <select [(ngModel)]="selectedTeam2"><option *ngFor="let _team of _teams" value="{{_team.teamID}}">{{_team.teamName}}</option></select>
    Pokemon to Add <input #newPokeName ><br>
    <button (click)="AddPokemon(selectedTeam2, newPokeName.value)">Add Pokemon</button>
  </div>
<br>
<table>
<tr>
  <th>Pokemon ID</th>
  <th>Pokemon Name</th>
  <th>Team ID</th>
</tr>
<tr *ngFor="let team of teams">
  <td>{{team.pokeID}}</td>
  <td>{{team.pokeName}}</td>
  <td>{{team.teamID}}</td>
</tr>
</table>

<link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Quantico" rel="stylesheet">

</body>