<h1> Here you can manage your teams! </h1>
<div>
  <h3>Create a new pokemon team</h3>
  Team Name <input type="text" #teamName />
  <button (click)="CreateTeam(teamName.value)">Create Team</button>
</div>
<h3>Change the names of your teams by their IDs</h3>
<div class="container">
  Team ID <input #teamIDs ><br><br>
  New Team Name <input #newTeamName ><br><br>
  <button (click)="UpdateTeam(teamIDs.value, newTeamName.value)">Update Team</button>
</div>
<div>
  <h3>Find your Pokemon teams by username</h3>
  <button (click)="GetTeams()">Get My Teams</button>
</div>
<br><br>
<table>
<tr>
  <th>Pokemon ID</th>
  <th>Pokemon Name</th>
  <th>Team ID</th>
</tr>
<tr *ngFor="let team of teams">
  <td>{{team.pokeID}}</td>
  <td>{{team.pokeName}}</td>
  <td>{{team.teamID}}</td>
</tr>
</table>